body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
    background-color: 	#3d5a80;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

h1 {
    color: #333;
    margin-bottom: 15px;
}

